.app_landing_page {
  background-color: #f3f9f9;
  min-height: 100%;
  // padding-top: 10px;

  &__px {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media screen and (max-width: 997px) {
    display: none;
  }

  &--mobile {
    @extend .app_landing_page;

    display: none;

    @media screen and (max-width: 997px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

:root {
  --main-color: #06382e;
  --sec-color: #dd9940;
  --text-color: #333;
  --sub-text-color: #8b8787;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: calc(20px + 10px); // 10px - app_landing_page padding
  padding-bottom: 20px;
  background-color: #f3f9f9;

  position: fixed;
  width: 100%;
  z-index: 10;

  &__logo {
    max-width: 147px;
    height: auto;
  }

  &__ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    gap: 40px;

    &__li {
      &__a {
        color: var(--sub-text-color);
        font-family: General Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-decoration: none;

        &:hover {
          color: var(--sub-text-color);
        }
      }
    }
  }
}

.app_footer {
  background: var(--text-color);
  min-height: 430px;
  padding-top: 60px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    display: inline-flex;
    align-items: flex-start;
    gap: 102px;
    justify-content: space-between;

    &__item {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #fefefe;
      font-size: 14px;

      &:first-child {
        max-width: 267px;
      }

      &:last-child {
        max-width: 364px;
      }

      &__text p {
        line-height: 200%;
      }

      &__subscribe {
        border-radius: 45.595px;
        border: 2px solid #f1f1f1;
        background: #fff;
        display: flex;
        gap: 5px;
        padding: 7px 18px;

        &__input {
          flex: 1;
          color: #333;

          &::placeholder {
            color: #959595;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        &__button {
          all: unset;
          cursor: pointer;
          border-radius: 50px;
          background: #06382e;
          box-shadow: 0px 10px 50px 0px rgba(171, 171, 171, 0.19);
          padding: 15px 30px;
        }
      }
    }
  }

  &__btm {
    border-top: 0.5px solid #fff;
    color: #fefefe;
    font-size: 14px;
    padding: 16px 10px;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;

    &__socials {
      display: flex;
      gap: 10px;
    }
  }
}

.app_hero_section {
  min-height: calc(100vh - 10px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__txt {
      display: flex;
      flex-direction: column;
      gap: 36px;

      &__h1 {
        color: var(--main-color);
        font-family: Trench Slab;
        font-size: 60px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        span {
          color: var(--sec-color);
        }
      }

      &__p {
        color: var(--text-color);
        font-family: General Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
      }

      &__action {
        display: flex;
        align-items: center;
        gap: 8px;
        color: var(--sec-color);

        &:hover {
          color: var(--sec-color);
        }
      }
    }
  }

  &__img_ct {
    max-width: 610px;
  }
}

.app_mission {
  &__top {
    &__h2 {
      color: var(--main-color);
      text-align: center;
      font-family: Trench Slab;
      font-size: 50px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 20px;
    }

    &__p {
      color: var(--text-color, #333);
      text-align: center;
      font-family: General Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;

      span {
        position: relative;
      }
    }

    &__blob {
      position: absolute;
      right: -65px;
      bottom: -75px;
    }
  }

  &__mlist {
    display: flex;
    justify-content: space-around;

    &__item {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      width: calc(100% / 4);
      min-height: 225px;
      padding: 20px 34px;
      border-image: linear-gradient(var(--sec-color), rgba(221, 153, 64, 0.18))
        20;
      border-width: 0;
      border-right-width: 1px;
      border-style: solid;

      &:last-child {
        border-right-width: 0;
      }
    }
  }
}

.app_objectives {
  padding: 125px 0;
}

.app_initiatives {
  min-height: 830px;
  background: linear-gradient(
      0deg,
      rgba(6, 56, 46, 0.88) 0%,
      rgba(6, 56, 46, 0.88) 100%
    ),
    url(/media/landing/glass-dirty.jpeg), lightgray 50% / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 80px;

  .app_mission__top__h2,
  .app_mission__top__p {
    color: #fff;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    gap: 40px;

    .card {
      width: 390px;
    }

    .card-body {
      flex: 1 1 auto;
      padding: 13px 19px;
    }
  }

  &__item_title {
    border-radius: 10px 10px 0px 0px;
    background: var(--sec-color);
    margin-left: 14px;
    min-width: 188px;
    padding: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &__p {
      color: #fff;
      font-family: Trench Slab;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

  &__card {
    border-radius: 10px;
    border: 1px solid #fff;
    background: #fffdfd;
    backdrop-filter: blur(25px);

    &__img {
      width: 100%;
      height: 162px;
      object-fit: cover;
      margin-bottom: 10px;
      border-radius: 15px;
      background: lightgray 50% / cover no-repeat, #fff;
    }

    &__h5 {
      color: var(--text-color);
      font-family: Trench Slab;
      font-size: 25px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 20px !important;
    }

    &__p {
      color: var(--sub-text-color);
      font-family: General Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 30px !important;
    }
  }

  .app_hero_section__content__txt__action {
    text-decoration: none;
  }
}

.app_events {
  padding: 80px 0;

  &__con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .app_mission__top__h3 {
      @extend .app_mission__top__h2;

      font-size: 35px;
    }

    .app_mission__top__p {
      position: relative;
      margin-bottom: 40px !important;

      svg {
        position: absolute;
        top: -20px;
      }
    }

    &__evt {
      margin-bottom: 50px;
      gap: 20px;
    }

    &__evt_a {
      border-radius: 50px;
      background: #fff9f1;
      min-width: 168px;
      padding: 14px 27px;
      text-decoration: none;
      text-align: center;

      span {
        font-size: 14px;
      }

      &--disabled {
        @extend .app_events__con__evt_a;

        background: #f5f5f5;

        span {
          color: #c0c0c0 !important;
        }
      }
    }

    &__gallery {
      display: flex;
      gap: 30px;
      margin-bottom: 100px;

      .card {
        background-color: #fff;
        border: none;
        border-radius: 18.953px;
        filter: drop-shadow(
          0px 18.952880859375px 47.382198333740234px rgba(119, 115, 170, 0.1)
        );
        min-width: 383px;
        width: 383px;
      }

      .card-body {
        display: flex;
        gap: 24px;
      }

      &__img {
        border-radius: 18.953px 18.953px 0px 0px;
        background: lightgray 50% / cover no-repeat;
      }

      &__date {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      &__month {
        font-size: 12px;
      }

      &__h3 {
        font-size: 25px;
      }

      &__h5 {
        font-size: 16px;
        margin-bottom: 9.5px !important;
      }

      &__span {
        font-size: 14px;
      }
    }

    &__organizations {
      display: flex;
      justify-content: center;
      overflow-x: auto;
    }
  }
}
